.color-swatch.heather
{
  background-color: #a8a8a8!important;
}

.color-swatch.heather_navy{
background-color : #3e3e4c!important;
}

.color-swatch.dark_grey_heather{
  background-color : #372f30!important;
  }


