/* Base and reset styles */
.MaleHoodie {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #fff; /* or any color that fits your brand */
}
.content-container {
  display: flex; /* Use flexbox for layout */
  align-items: flex-start; /* Align the children to the top */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px; /* Base font size */
  line-height: 1.6;
}

/* Main hoodie application styling */
.MaleHoodie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main-display {
  position: relative;
  max-width: 400px; /* Adjust this value as needed */
  margin: 20px auto;
}
.hoodie-container {
  flex: 1; /* Take the remaining space */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

.hoodie-image {
  width: 100%; /* Full width within the .main-display container */
  height: auto;
  margin-bottom: 2rem; /* Space below the main image */
}

/* Styling for thumbnail images */
.thumbnail-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.thumbnail {
  width: 10%; /* Smaller percentage for larger screen to fit in a row */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.thumbnail.active {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Swatch container with a flex wrap */
.color-swatches-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 10px;
}

.color-swatch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.3s ease;
}
.color-swatch:hover {
  transform: scale(1.1);
}
.color-swatch.active {
  border: 2px solid #007bff;
}

/* Slider and buttons */
.scale-slider {
  width: 90%; /* Take up most of the width on mobile */
  margin: 1rem 0;
}
.scale-slider input[type="range"] {
  width: 100%; /* Full width within the .scale-slider container */
}


button, .custom-file-upload {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 5px; /* Slight margin for spacing */
  transition: all 0.3s ease;
}

button:hover, .custom-file-upload:hover {
  background-color: #0056b3;
  color: #fff;
}

button:active, .custom-file-upload:active {
  transform: scale(0.98);
}

/* Responsive media query */
@media (max-width: 768px) {
  .thumbnail {
    width: 15%; /* Larger percentage for smaller screen to fit in two columns */
  }
  .main-display {
    max-width: 90%; /* Allow the main image to take up more space on smaller screens */
  }



  .main-display {
    max-width: 90%; /* Allow the main image to take up more space on smaller screens */
  }

  .color-swatch {
    width: 35px;
    height: 35px; /* Adjust the swatches for smaller screens */
  }

  button, .custom-file-upload {
    width: 100%; /* Full width buttons for easier touch access */
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .hoodie-image {
    width: 100%; /* Full width on extra small screens */
  }

  .main-display {
    margin-top: 10px;
  }

  button, .custom-file-upload {
    width: calc(50% - 10px); /* Half width minus margin for two buttons side by side */
    font-size: 0.9rem; /* Slightly smaller font on mobile for buttons */
  }
}

.color-swatch.white {
  background-color: #ffffff;
  border: 1px solid #ccc; /* Helps visualize the white swatch */
}

.color-swatch.black {
  background-color: #000000;
}

.color-swatch.ash {
  background-color: #e4dde3;
}

.color-swatch.sport_grey {
  background-color: #b6b7ba;
}
.color-swatch.rock {
  background-color: #95938e;
}
.color-swatch.sage {
  background-color: #90adab;
}
.color-swatch.Military_Green_Heather
{
  background-color: #495148;
}
.color-swatch.Charcoal
{
  background-color: #3e3d43;
}
.color-swatch.Blush_Pink
{
  background-color: #d9b8af;
}

.color-swatch.Neon_Pink
{
  background-color: #f36c95;
}

.color-swatch.Sunset_Coral
{
  background-color: #e3585d;
}

.color-swatch.Retro_Heather_Coral
{
  background-color: #ff7f85;
}

.color-swatch.Heliconia
{
  background-color: #fa1377;
}

.color-swatch.Orange
{
  background-color: #ed6124;
}

.color-swatch.Heather_Sport_Scarlet_Red
{
  background-color: #b87e8b;
}

.color-swatch.Maroon
{
  background-color: #431c2e;
}

.color-swatch.Red
{
  background-color: #a90e15;
}

.color-swatch.Antique_Cherry_Red
{
  background-color: #95132f;
}

.color-swatch.Sweet_Cream_Heather
{
  background-color: #fffaeb;
}
.color-swatch.Sand
{
  background-color: #d3c6b6;
}.color-swatch.Khaki
{
  background-color: #b5a488;
}.color-swatch.Old_Gold
{
  background-color: #bb9759;
}.color-swatch.Neon_Orange
{
  background-color: #f4732e;
}.color-swatch.Dark_Brown
{
  background-color: #2d1e23;
}.color-swatch.Gold
{
  background-color: #efba00;
}.color-swatch.Neon_Yellow
{
  background-color: #d1df33;
}.color-swatch.Kiwi
{
  background-color: #71b85e;
}
.color-swatch.Irish_Green
{
  background-color: #03a060;
}
.color-swatch.green
{
  background-color: #50514c!important;
}
.color-swatch.Forest_Green
{
  background-color: #132322;
}


.color-swatch.mauve
{
  background-color: #b16e6f!important;
}
.color-swatch.peach
{
  background-color: #f3bba0!important;
}
.color-swatch.Scuba_Blue
{
  background-color: #65cbd3;
}.color-swatch.blue
{
  background-color: #acb8d4!important;
}.color-swatch.Periwinkle_Blue
{
  background-color: #4b57a9;
}.color-swatch.Antique_Sapphire
{
  background-color: #02638d;
}.color-swatch.Vintage_Hth_Blue
{
  background-color: #5d6b8d;
}.color-swatch.Indigo_Blue
{
  background-color: #175a76;
}.color-swatch.Royal
{
  background-color: #1f3481;
}.color-swatch.NAVY
{
  background-color: #272e4b!important;
}

.color-swatch.Violet
{
  background-color: #695294!important;
}.color-swatch.Purple
{
  background-color: #542865;
}.color-swatch.pink
{
  background-color: #edc0cf!important;
}
.color-swatch.Heather_Grey
{
  background-color: #b7b6b8!important;
}

.color-swatch.Creme
{
  background-color: #f9ebd0!important;
}
.color-swatch.Sea_Blue
{
  background-color: #2a3f50!important;
}

