@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: stretch; /* Stretch children to match the container's width */
  }

  .hoodie-container, .color-swatches-container {
    width: 100%; /* Full width on smaller screens */
    margin: 10px 0; /* Adjust margins for vertical layout */
  }

  .scale-slider input[type="range"] {
    width: 100%; /* Full width for the slider */
  }
}

.MaleHoodie {
  text-align: center;
}

.main-display {
  position: relative;
  width: 100%;
  max-width: 300px; /* Adjust based on actual image size */
  margin: 20px auto;
  overflow: visible;
}



.hoodie-image {
  width: 100%;
  display: block;
}

.overlay-design {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100px; /* Adjust based on design size */
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.thumbnail {
  width: 10vw; /* Adjust based on your preference */
  max-width: 50px;
  min-width: 30px; /* Ensure thumbnails don't become too small */
  margin: 0 5px; /* Adjust margin as needed */
}

.thumbnail:hover {
  opacity: 0.8;
}

.color-swatches {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.color-swatch {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.color-swatch.white {
  background-color: #ffffff;
  border: 1px solid #ccc; /* Helps visualize the white swatch */
}

.color-swatch.black {
  background-color: #000000;
}

.color-swatch.ash {
  background-color: #e4dde3;
}

.color-swatch.sport_grey {
  background-color: #b6b7ba;
}
.color-swatch.rock {
  background-color: #95938e;
}
.color-swatch.sage {
  background-color: #90adab;
}
.color-swatch.Military_Green_Heather
{
  background-color: #495148;
}
.color-swatch.Charcoal
{
  background-color: #3e3d43;
}
.color-swatch.Blush_Pink
{
  background-color: #d9b8af;
}

.color-swatch.Neon_Pink
{
  background-color: #f36c95;
}

.color-swatch.Sunset_Coral
{
  background-color: #e3585d;
}

.color-swatch.Retro_Heather_Coral
{
  background-color: #ff7f85;
}

.color-swatch.Heliconia
{
  background-color: #fa1377;
}

.color-swatch.Orange
{
  background-color: #ed6124;
}

.color-swatch.Heather_Sport_Scarlet_Red
{
  background-color: #b87e8b;
}

.color-swatch.Maroon
{
  background-color: #431c2e;
}

.color-swatch.Red
{
  background-color: #a90e15;
}

.color-swatch.Antique_Cherry_Red
{
  background-color: #95132f;
}

.color-swatch.Sweet_Cream_Heather
{
  background-color: #fffaeb;
}
.color-swatch.Sand
{
  background-color: #d3c6b6;
}.color-swatch.Khaki
{
  background-color: #b5a488;
}.color-swatch.Old_Gold
{
  background-color: #bb9759;
}.color-swatch.Neon_Orange
{
  background-color: #f4732e;
}.color-swatch.Dark_Brown
{
  background-color: #2d1e23;
}.color-swatch.Gold
{
  background-color: #efba00;
}.color-swatch.Neon_Yellow
{
  background-color: #d1df33;
}.color-swatch.Kiwi
{
  background-color: #71b85e;
}
.color-swatch.Irish_Green
{
  background-color: #03a060;
}
.color-swatch.green
{
  background-color: #50514c!important;
}
.color-swatch.Forest_Green
{
  background-color: #132322;
}


.color-swatch.mauve
{
  background-color: #b16e6f!important;
}
.color-swatch.peach
{
  background-color: #f3bba0!important;
}
.color-swatch.Scuba_Blue
{
  background-color: #65cbd3;
}.color-swatch.blue
{
  background-color: #acb8d4!important;
}.color-swatch.Periwinkle_Blue
{
  background-color: #4b57a9;
}.color-swatch.Antique_Sapphire
{
  background-color: #02638d;
}.color-swatch.Vintage_Hth_Blue
{
  background-color: #5d6b8d;
}.color-swatch.Indigo_Blue
{
  background-color: #175a76;
}.color-swatch.Royal
{
  background-color: #1f3481;
}.color-swatch.NAVY
{
  background-color: #272e4b!important;
}

.color-swatch.Violet
{
  background-color: #695294!important;
}.color-swatch.Purple
{
  background-color: #542865;
}.color-swatch.pink
{
  background-color: #edc0cf!important;
}
.color-swatch.Heather_Grey
{
  background-color: #b7b6b8!important;
}

.color-swatch.Creme
{
  background-color: #f9ebd0!important;
}
.color-swatch.Sea_Blue
{
  background-color: #2a3f50!important;
}



.thumbnail.active {
  border: 2px solid #585b5f; /* Indicates the active view */
}

/* Existing styles... */

.overlay-design {
  cursor: grab;
}
.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
  z-index: 10;
}

.react-resizable-handle-se {
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

.thumbnail.active {
  border: 2px solid #585b5f;
}

/* Button styles */
button {
  padding: 10px 20px;
  background-color: #313335; /* Change the background color as you like */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-right: 10px;
  margin-top: 10px;

}

button:hover {
  background-color: #585b5f; /* Darker shade for hover state */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

button:active {
  background-color: #585b5f; /* Even darker shade for active state */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none; /* Removes the outline on focus for browsers that show one */
}

/* Additional styles for file input */
input[type="file"] {
  display: none; /* Hide the default input */
}

.custom-file-upload {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #313335;
  color: white;
  border-radius: 5px;
  margin-right: 10px; /* Add some space between the button and the file input */
}

.custom-file-upload:hover {
  background-color: #585b5f;
}

.content-container {
  display: flex;
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  height: 80vh; /* Set to the height of the viewport for vertical centering */
}


.hoodie-container {
  margin-right: 20px; /* Optional: Adds some space between the hoodie and the swatches */
}
.color-swatches-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)); /* Creates as many columns as can fit */
  grid-gap: 5px; /* Spacing between swatches */
  justify-content: center;
}

.color-swatches-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the color swatches vertically */
  margin: 5px; /* Gives space between columns */
}

.color-swatch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 5px; /* space between rows */
  cursor: pointer;
}




/* Clear fix for nth-child */
.color-swatch:nth-child(3n+1) {
  clear: both;
}


.color-swatch:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

/* Slider styles */
.scale-slider {
  margin: 10px 0;
}

.scale-slider label {
  margin-right: 10px;
}

.scale-slider input[type="range"] {
  width: 200px; /* Adjust the width as you like */
}

.design-container {
  position: relative;
}



.delete-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0 5px;
  line-height: 20px;
  font-size: 14px;
}

.design-container:hover .delete-button {
  display: block; /* Show delete button on hover */
}
