.MuiTypography-root.MuiTypography-body2.MuiTypography-alignCenter {
    margin-top: 200px !important;
}

.MuiAvatar-root {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.jss2 {
    margin: 8px;
    background-color: white !important;
}

.makeStyles-avatar-2 {
    margin: 8px;
    background-color: white !important;
}