@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Header styles */
.App-header {
  background-color: #1a1a1aba;
  color: #f8f8f8;
  padding: 20px;
  text-align: center;
}


.App-header img {
  max-width: 80%; /* Adjusted for better responsiveness */
  max-height: 80px; /* Limiting height for consistency */
  height: auto;
}

.App-header h1 {
  font-size: calc(1.5rem + 1vw); /* Slightly larger base size for readability */
  font-weight: 300; /* Lighter font-weight for a more modern and elegant look */
  letter-spacing: 10px; /* Add some spacing between letters */
  margin-bottom: 1rem; /* Add some space below the header */
}

/* Category Container */
.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Flexible grid */
  gap: 20px;
  padding: 100px;
}

.category-box {
  background-color: #f9f9f9; /* Light grey background for less stark contrast */
  border-radius: 10px; /* Rounded corners for a softer look */
  overflow: hidden;
  position: relative; /* Set the parent to relative positioning */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  display: block;
}
.image-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white; /* White text color */
  opacity: 0; /* Make it invisible by default */
  transition: opacity 0.5s ease;
  font-size: 1.5rem; /* Adjust font size here as needed */
  pointer-events: none; /* Ignore pointer events */
  overflow: hidden; /* Hide overflow */
}

/* Hover effect for the .category-box */
.category-box:hover .image-overlay {
  opacity: 1; /* Make the overlay visible on hover */
}
.category-box:hover {
  transform: translateY(-5px); /* Lift the box slightly on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.category-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 200px;
}

/* Text Styles for Links */
a {
  color: #333; /* Dark text for readability on light background */
  text-decoration: none; /* No underline */
}

a:hover {
  text-decoration: underline; /* Underline on hover for clarity */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .App-header img {
    max-height: 60px;
  }

  .category-box img {
    max-height: 150px;
  }
}
@media (max-width: 768px) {
  .App-header h1 {
    font-size: 2rem; /* Slightly smaller font size for mobile */
  }
}