@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Header styles */
.App-header {
  background-color: #1a1a1aba;
  color: #f8f8f8;
  padding: 20px;
  text-align: center;

}


.App-header img {
  max-width: 80%; /* Adjusted for better responsiveness */
  max-height: 80px; /* Limiting height for consistency */
  height: auto;
}

.App-header h1 {
  font-size: calc(1.5rem + 1vw); /* Slightly larger base size for readability */
  font-weight: 300; /* Lighter font-weight for a more modern and elegant look */
  letter-spacing: 10px; /* Add some spacing between letters */
  /* margin-bottom: 1rem; */ 
}

/* Category Container */
.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Flexible grid */
  gap: 20px;
  padding: 100px;
}

.category-box {
  background-color: #f9f9f9; /* Light grey background for less stark contrast */
  border-radius: 10px; /* Rounded corners for a softer look */
  overflow: hidden;
  position: relative; /* Set the parent to relative positioning */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  display: block;
}
.image-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white; /* White text color */
  opacity: 0; /* Make it invisible by default */
  transition: opacity 0.5s ease;
  font-size: 1.5rem; /* Adjust font size here as needed */
  pointer-events: none; /* Ignore pointer events */
  overflow: hidden; /* Hide overflow */
}

/* Hover effect for the .category-box */
.category-box:hover .image-overlay {
  opacity: 1; /* Make the overlay visible on hover */
}
.category-box:hover {
  transform: translateY(-5px); /* Lift the box slightly on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.category-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 200px;
}

/* Text Styles for Links */
a {
  color: #333; /* Dark text for readability on light background */
  text-decoration: none; /* No underline */
}

a:hover {
  text-decoration: underline; /* Underline on hover for clarity */
}

@media (max-width: 768px) {
  .category-container {
    padding: 50px 20px; /* Less padding on smaller screens */
  }

  .category-box img {
    /* Ensure that the image scales down with the box */
    height: 100%; /* new line */
    max-height: none; /* Override the max-height */
  }

  .category-box {
    /* Make sure the text scales down on smaller screens */
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .image-overlay {
    /* Make the text overlay always visible for touch devices */
    background-color: rgba(0, 0, 0, 0.5); /* Ensure background is visible */
    opacity: 1; /* Set the overlay to be always visible on touch devices */
  }
  .category-box:hover .image-overlay {
    /* Keep the overlay visible even on hover for touch devices */
    opacity: 1; /* No change on hover */
    background-color: rgba(0, 0, 0, 0.5); /* No change on hover */
  }
}
/* How It Works Section Styling */
.how-it-works {
  background: #ffffff; /* Change color if necessary */
  padding: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.how-it-works h2 {
  color: #333; /* Dark text for the heading */
  margin-bottom: 1rem;
  font-size: 2.5rem; /* Larger font size for the heading */
}

.how-it-works p {
  color: #555; /* Slightly lighter text for the paragraph */
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.how-it-works ol {
  list-style: none; /* Removes the default list styling */
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

.how-it-works li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.how-it-works li strong {
  color: #2c3e50; /* A bold color for key terms */
  font-weight: bold;
}

/* If you're using icons or images in the list, you can add styles for them */
.how-it-works li img {
  vertical-align: middle;
  margin-right: 0.5rem;
}

/* Add responsive considerations */
@media (max-width: 768px) {
  .how-it-works {
    padding: 1rem;
  }

  .how-it-works h2 {
    font-size: 2rem;
  }

  .how-it-works p {
    font-size: 1rem;
  }

  .how-it-works ol {
    text-align: center;
  }

  .how-it-works li {
    font-size: 0.9rem;
  }
}

@media (max-width: 560px) {
  .App-header {
    padding: 15px; /* Smaller padding */
  }

  .App-header h1 {
    font-size: 1.2rem; /* Smaller font size for the header */
    letter-spacing: 5px; /* Less letter-spacing */
  }

  .category-container {
    padding: 20px; /* Smaller padding around the grid */
  }

  .category-box {
    /* Flex layout for the category box to stack items */
    display: flex;
    flex-direction: column;
  }

  .image-overlay {
    opacity: 1; /* Make the overlay always visible */
    background: rgba(0, 0, 0, 0.5); /* Re-apply the semi-transparent background */
  }
  .category-box img {
    max-height: none; /* Override the max-height for small devices */
    height: 100px; /* Fixed height for images to make them smaller */
    object-fit: contain; /* Adjust the object-fit */
  }
  .category-box:hover .image-overlay {
    /* Keep the overlay visible even on hover for touch devices */
    opacity: 1; /* No change on hover */
    background-color: rgba(0, 0, 0, 0.5); /* No change on hover */
  }
  /* Adjust the overlay to fit the smaller images */
  .category-box .image-overlay {
    display: block; /* Make overlay a block to cover the image */
    position: static; /* Static position to flow with document */
    background: transparent; /* Remove the semi-transparent background */
    color: #333; /* Darker color for better visibility on light images */
    padding: 10px; /* Padding inside the overlay */
    text-align: center; /* Center the text */
    opacity: 1; /* Make the overlay always visible */
  }
}/* Add this CSS block for the social icons */
.social-icons {
  display: flex;
  justify-content: center; /* Center icons horizontally */
  align-items: center; /* Center icons vertically */
  gap: 20px; /* Add space between icons */
  margin-bottom: 20px; /* Add margin at the bottom */
  padding: 45px;
}

.social-icon {
  margin-right: 10px;
}

.social-icon img {
  width: 50px; /* Set a specific width */
  height: 40px; /* Set a specific height */
  border-radius: 50%; /* Make the images round */
  transition: transform 0.3s ease-in-out;
}

.social-icon img:hover {
  transform: scale(1.2);
}

/* Update this existing media query */
@media screen and (max-width: 768px) {
  .App-header {
    flex-direction: column;
    align-items: center;
  }

  .social-icons {
    justify-content: center; /* Center social icons on small screens */
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px; /* Add margin at the bottom */
  }

  .social-icon img {
    width: 30px;
    height: 30px;
  }
}

.footer-text {
  color: #666666; /* Greish color */
}
